.mainfield {
    width: 94rem;
    height: 40rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1rem 30rem 1rem 30rem 1rem 30rem 1rem;
    grid-template-rows: 15rem 10rem 10rem; 
    margin: 0 auto;
}

.subfield {
    height: 8.8rem;
    width: 28.2rem;
}

.header {
    grid-column: 2/7;
}

img {
    height: 10rem;
    margin-left: 80rem;
}

button {
    width: 10rem;
    height: 2rem;
}

label {
    font-size: 30px;
    font-weight: bold;
}

select {
    width: 10rem;
    height: 2rem;
    font-size: 18px;
}