

<fieldset class="mainfield">
  <legend>PowerComponent</legend>
  <div class="wrapper">
    <div class="header">
      <form>
        <label> Initital Power Level:
          <select [(ngModel)]='startval' name="powerselect">
            <option *ngFor="let num of numbers">{{num}}</option>
          </select>
        </label>
        <input type="submit" (click)="calculatePowers()" value="Calculate Powers">
        <img src="https://vignette.wikia.nocookie.net/villainstournament/images/7/79/Goku_super_saiyan_by_jeffthesupersaiyan-d8oxtbw.jpg/revision/latest?cb=20161027142330"
          alt="goku.jp">
      </form>
    </div>
    <div></div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>HumanComponent</legend>
        <app-human [human]='powers.human'>
        </app-human>
      </fieldset>
    </div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>SaiyanComponent</legend>
        <app-saiyan [saiyan]='powers.saiyan'>
        </app-saiyan>
      </fieldset>
    </div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>SupersaiyanComponent</legend>
        <app-supersaiyan [supersaiyan]='powers.supersaiyan'>
        </app-supersaiyan>
      </fieldset>
    </div>
    <div></div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>SupersaiyanTwoComponent</legend>
        <app-supersaiyantwo [supersaiyantwo]='powers.supersaiyantwo'>
        </app-supersaiyantwo>
      </fieldset>
    </div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>SupersaiyanThreeComponent</legend>
        <app-supersaiyanthree [supersaiyanthree]='powers.supersaiyanthree'>
        </app-supersaiyanthree>
      </fieldset>
    </div>
    <div></div>
    <div>
      <fieldset class="subfield">
        <legend>SupersaiyanFourComponent</legend>
        <app-supersaiyanfour [supersaiyanfour]='powers.supersaiyanfour'>
        </app-supersaiyanfour>
      </fieldset>
    </div>
    <div></div>
  </div>
</fieldset>